.css-page .box {
    width: 400px;
    height: 400px;
    background-color: brown;
    border-radius: 5px;
    animation: move 2s infinite;
  }
  
  @keyframes move {
    0% { transform: translateX(0); }
    50% { transform: translateX(100px); }
    100% { transform: translateX(0); }
  }
  